@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Slide In Animation (using scaleX to avoid layout shift) */
  @keyframes slideIn {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  .animate-slideIn {
    animation: slideIn 0.3s ease-out forwards;
    transform-origin: left; /* Ensure scaling from the left */
  }

  /* Scale Animation */
  @keyframes scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  .animate-scale {
    animation: scale 1.5s ease-in-out infinite;
  }

  /* Slow Spin Animation */
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 2s linear infinite;
  }

  .rounded-custom {
    border-radius: 10% 30% 50% 70%;
    border: 10px solid #fff;
  }
  .static-cursor {
    display: inline-block;
    opacity: 1;
    animation: none;
  }
}
